// Variables
$website-width: 1280px;
$main-color: #ff0000;
$medium-color: #ccc;
$light-color: #f4f4f4;
$dark-color: #333;
$background-color: #f4f4f4;
/*$light-color: #333;
$dark-color: #f4f4f4;
$background-color: #000;*/

$bg-image: url(../img/websiteich3.jpg);

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
